body {
    width: 90%;
    max-width: 1280px;
    margin: 8px auto;
    color: #000;
    background-color: #f5f5f5;
    font-size: 13.3333px;
    font-family: Verdana, Geneva, sans-serif;
}

a {
    padding-left: 8px;
}

div.title {
    display: flex;
    justify-content: center;
}

img.loader {
    /* width: 60px;
  height: 60px; */
}

p.text {
    font-size: -1em;
    background-color: #ccffff;
    border-radius: 25px;
    padding: 20px;
}

p.user {
    font-weight: bold;
}

ul.tree li {
    list-style-type: none;
    position: relative;
    padding-bottom: 10px;
}

ul.tree li ul {
    display: none;
}

ul.tree li.open>ul {
    display: block;
}

ul.tree li div {
    color: black;
    text-decoration: none;
}

ul.tree li div:before {
    height: 1em;
    padding-right: 5px;
    font-size: .8em;
    display: block;
    position: absolute;
    left: -1.6em;
    /* top: .2em; */
}

ul.tree li>div:not(:last-child):before {
    content: '[+]';
    font-size: +1em;
    color: blue;
    padding: : 3px
}

ul.tree li.open>div:not(:last-child):before {
    content: '[-]';
    font-size: +1em;
    color: green;
    padding: : 3px
}


.HNTree {
    background-color: #ccffff;
    border-radius: 25px;
    padding: 20px;
}

.HNTree div {

    padding: 3px;
}
