<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
  <rules>
    <rule name="Redirect from blog">
      <match url="^reports" />
      <action type="Rewrite" url="/ccsge/" redirectType="Found" />
    </rule>
  </rules>
        </rewrite>
    </system.webServer>
</configuration>
